

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0A0A16;
    font-family: sans-serif;
}

.action button {
    padding: 6px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 13px;
    transition: 0.3s;
    margin-bottom: 10PX;
}

.editBtn, .blue {
    background-color: #5bc0de;
}

.editBtn, .blue :hover {
    background-color: #31b0d5;
}

.deleteBtn, .red {
    background-color: #d9534f;
}

.deleteBtn, .red, .logout :hover {
    background-color: #c9302c;
}

table {
    border-collapse: separate;
    border-spacing: 0 7px;
    padding: 20px;
    width: 100%;
    min-width: 0; 
}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
}

th, td {
    text-align: left;
    padding: 8px 20px;  
    font-weight: normal;
}
td {
    background-color: #3d495d;
}

td:first-child {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
td:last-child {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}


@media (max-width: 700px) {
    td:nth-child(1),
    td:nth-child(2) {
        width: 120px;
    }
    td:nth-child(3),
    td:nth-child(4),
    td:nth-child(5) {
        width: 60px;
    }

    th, td {
        padding: 6px 12px;
    }
}


@media (max-width: 500px) {
    td:nth-child(1),
    td:nth-child(2) {
        width: 100px;
    }
    td:nth-child(3),
    td:nth-child(4),
    td:nth-child(5) {
        width: 40px;
    }

    th, td {
        padding: 4px 8px; 
        font-size: 14px;
    }
}


header {
    width: 100%;
    background: #1c1c29;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    
}

header .left {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #000;

}

.logout {
    margin-left: auto;
}
header button {
    display: inline;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}




header .logo {
    font-size: 1.1rem;
    font-weight: 600;
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    
}

header .logout {
    display: inline;
    margin-left: 20px;
    
}




header .logo img {
    margin-top: 10%;
    width: 80px;    
    height: auto;   
}


nav{
    justify-content: flex-end;
}


main {
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap; 
    align-items: flex-start; 
}

.left-box,
.right-box {
    color: #e4e4e4;
}

.left-box {
    width: 60vw;
    min-height: 200px; 
    border-radius: 15px;
    border: 1.5px solid #fff;
    padding: 10px; 
}

.right-box {
    width: 25vw;
    height: auto; 
    border-radius: 15px;
    border: 1.5px solid #fff;
    padding: 25px;

}



@media (max-width: 1027px) {
    .left-box {
        width: 100%;
        height: auto;
    }
    .right-box {
        width: 100%;
        height: auto;
    }
}


.rightbottom-box {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
}
.rightbottom-box button {
    padding: 8px 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    transition: 0.2s;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

header nav a:hover {
    color: #00bcd4;
}

header {
    color: #333454;
}
header nav a.active {
    color: #17e4ff;
    font-weight: bolder;
}